
* { box-sizing: border-box; }

html {
    font-size: 50px;
    letter-spacing: .5px;
}

body {}

h1 {
	font-size: 1em;
	font-family: Courier;
    color: white;
}

#logoContainer {
	width: 100%;
	max-width: 1000px; 
	margin: auto;
}

#logo {
	width: 60%;
	margin-top: 50px;
	margin-left:  20%;
	margin-right: 20%;
}

img {
	width: 100%;
}